@font-face {
    font-family: 'handwritten';
    src: url('fonts/handwritten.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'companies';
    src: url('fonts/companies.otf');
}

body{
    font-family: 'handwritten';
}

.companies {
  width: 100px;    /* fixed width */
  height: 100px;   /* fixed height */
  object-fit: cover;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.connect-vertical {
  position: absolute;
  left: 56%;
  top: 100%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px; /* default height */
  background-color: #8f8d8d;
}

/* smaller screens */
@media (max-width: 576px) {
  .connect-vertical {
    height: 32px;
  }
}

/* medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  .connect-vertical {
    height: 32px;
  }
}

/* large screens */
@media (min-width: 993px) {
  .connect-vertical {
    height: 32px;
  }
}

.timeline{
    color: #8f8d8d;
    width: 120px;
    text-align: right;
    margin-right:1rem;
    flex-shrink: 0;
}

  #navigator {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    border: 1px solid #333;
    border-radius: 12px;
    background-color: rgba(235, 227, 227, 0.9);
    text-align: center;
    padding: 8px 16px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  #navigator nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #navigator nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  #navigator nav a i {
    margin-right: 6px;
    color: #555;
  }

  #navigator nav a:hover {
    color: #0077cc;
  }

  #navigator nav a:hover i {
    color: #0077cc;
  }